{% extends "layout.html" %}
{% block body%}
  <!-- Page Header -->


  <header class="masthead" style="background-image:"img\about-bg.jpg">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading"><b>This is what I do.</b></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi this is the blog site</p>
      </div>
    </div>
  </div>

{% endblock %}