{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}")>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading"><b>Manage Your Posts Here</b></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->





  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
    <a href="/dashboard"><button class="btn btn-primary">Dashboard Home</button></a>
    <a href="/logout"><button class="btn btn-primary">Logout</button></a>
          <h1>Upload File</h1>
               <form action="/uploader" method="post" enctype="multipart/form-data">
                   <input type="file" name="file1">
                   <button class="btn btn-primary">Submit</button>
               </form>


   <hr>
  <h1>Add/Edit Posts</h1>
     <form name="EditPost" id="sendpost" novalidate action = "/edit/{{sno}}" method= 'POST'>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" value="{{post.title}}" class="form-control" placeholder="Title" id="title" name = "title" required data-validation-required-message="Please enter your name.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Subtitle</label>
              <input type="text"  class="form-control" placeholder="Subtitle" id="subtitle" name= 'subtitle' required
                     data-validation-required-message="Please enter your email address." value="{{post.subtitle}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text"  class="form-control" placeholder="Slug" id="slug" name= 'slug' required
                     data-validation-required-message="Please enter your phone number." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5"  class="form-control" placeholder="Content" id="content" name = 'content' required
                        data-validation-required-message="Please enter a message." >{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>



         <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Images</label>
              <input type="file"  class="form-control" placeholder="Image" id="img_file" name= 'img_file' required
                     data-validation-required-message="Please enter your phone number." value={{post.img_file}}>
              <p class="help-block text-danger"></p>
            </div>
          </div>

                   <div id="success1"></div>
          <div class="form-group">
            <button type="submit" onclick="action" class="btn btn-primary" id="EditForm">Submit</button>
          </div>
     </form>
        <!-- Pager -->


      </div>
    </div>
  </div>

 {% endblock %}